@import "/src/styles/theme.scss";

.header-wrapper {
    padding: 10px 20px;
    background-color: $header-color;
    max-height: 60px;

    .header-link {
        margin-right: 20px;
        cursor: pointer;
    
        svg {
            font-size: 32px;
            fill: $gray-white;
        }
    }
}