@import '/src/styles/theme.scss';

.tag-card {
    &-absent {
        box-shadow: 0px 5px 30px 10px $box-shadow-absent;
    }

    &-present {
        box-shadow: 0px 5px 30px 10px $box-shadow-present;
    }

    &-inactive {
        box-shadow: 0px 5px 30px 10px $box-shadow-gray;
    }
}